<h1>Listing Questions</h1>
<%= link_to 'New question', new_test_question_path %>
<table>
  <tr>   
    <th>Body</th>
    <th>Actions</th>
    <th colspan="2"></th>
  </tr> 
<% @questions.each do |question| %>
  <tr>   
    <td><%= question.body %></td>
    <td><%= link_to 'Show', question_path(id: question.id, test_id: params[:test_id]) %>
    <%= link_to 'Edit', edit_question_path(id: question.id, test_id: params[:test_id]), method: :get %> 
    <%= link_to 'Delete', question_path(id: question.id, test_id: params[:test_id]),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br>
<%= link_to 'Back', tests_path %>