<h1>Pass the <%= @user_test.test.title %> Test</h1>

<b>
  <%= @user_test.question.body %>
</b>

<%= form_with url: user_test_path(@user_test), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @user_test.question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %><br>
      <%= b.label %>
    </p>
  <% end %>

<p>
  Question: 
  <%= @user_test.serial_number_of_question %> 
  out of
  <%= @user_test.test.questions.count %>
</p>

  <p><%= form.submit 'Next' %></p>
<% end %>